<div class="container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <!-- Logo and Heading inside form -->
    <div class="form-header">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLXn84m0ldNEy4b-doui_GKkeziMRUfEl71g&s"
        alt="SmartAvaas Logo"
        class="logo"
      />
      <h1>SmartAvaas</h1>
      <h2>Login to SmartAvaas</h2>
    </div>

    <!-- Username -->
    <div class="form-group-vertical">
      <label for="mobile">Username</label>
      <input
        [(ngModel)]="mobile"
        name="mobile"
        id="mobile"
        type="text"
        required
        #mobileRef="ngModel"
        placeholder="Enter your username"
      />
      <div *ngIf="mobileRef.invalid && mobileRef.touched" class="error-message">
        Username is required.
      </div>
    </div>

    <!-- Password -->
    <div class="form-group-vertical">
      <label for="password">Password</label>
      <div class="relative">
        <input
          [(ngModel)]="password"
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          id="password"
          placeholder="Enter your password"
          required
          #passwordRef="ngModel"
        />
        <span (click)="togglePassword()">{{
          showPassword ? "Hide" : "Show"
        }}</span>
      </div>
      <div
        *ngIf="passwordRef.invalid && passwordRef.touched"
        class="error-message"
      >
        Password is required.
      </div>
    </div>

    <!-- <button type="submit" [disabled]="loginForm.invalid">Login</button> -->
    <!-- <button class="action-button">Login</button> -->
    <!-- Login Button -->
    <button class="action-button" [disabled]="isSubmitting">
      <span *ngIf="!isSubmitting">Login</span>
      <span *ngIf="isSubmitting" class="spinner"></span>
    </button>

    <div class="form-links">
      <a routerLink="/forgot-password">Forgot Password?</a>
      <span></span>
      <a routerLink="/register">Create Account</a>
    </div>
  </form>
</div>
